<a href="https://colab.research.google.com/github/xyem2211-tech/ict_assigmnets/blob/main/Assigment01_syam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question-1

In [63]:
item1_price = int(input("item1 price:"))
item1_quantity = int(input("item1 quantity:"))
item2_price = int(input("item2 price:"))
item2_quantity = int(input("item2 quantity:"))
total_bill = (item1_price * item1_quantity) + (item2_price * item2_quantity)
print("total bill is:", total_bill)

item1 price:45
item1 quantity:3
item2 price:23
item2 quantity:4
total bill is: 227

In [ ]:
a = int(input("Enter the 1st item price : "))
b = int(input("Enter the 2nd item price : "))
c = int(input("Enter the 1st quntity : "))
d = int(input("Enter the 2nd quntity : "))
total_price = (a+b)
total_quntity =(c+d)
ptint(total_price)

KeyboardInterrupt: Interrupted by user

In [ ]:
a = int(input("Enter the 1st item price : "))
b = int(input("Enter the 2nd item price : "))
c = int(input("Enter the 1st quntity : "))
d = int(input("Enter the 2nd quntity : "))
total_price = (a+b)
total_quntity =(c+d)
print(total_price)
print(total_quntity)

Enter the 1st item price : 45
Enter the 2nd item price : 30
Enter the 1st quntity : 3
Enter the 2nd quntity : 2
75
5

In [ ]:
total = (a*c)+(b*d)

In [ ]:
print("Total Bill :" , total )

Total Bill : 195

Question 2

In [ ]:
c = int(input("ENter in the  celsius : "))
f = float((c*9/5)+32)
print("Temperature in celsius = ", c)
print("Temperature in fahrenheit = ", f)

ENter in the  celsius : 30
Temperature in celsius =  30
Temperature in fahrenheit =  86.0

Question 3

In [ ]:
a=float(input("enter basic salary:"))
n=a+(0.20*a)+(0.10*a)
print("net salary:",n)

enter basic salary:2000
net salary: 2600.0

Question 4

In [ ]:
p = int((input("Enter the principal amount : ")))
r = float((input("Enter the rate of interest : ")))
t = int((input("Enter the time period : ")))
S1 = (p*r*t)/100
print("Simple Interest = ", S1)

Enter the principal amount : 10000
Enter the rate of interest : 5
Enter the time period : 2
Simple Interest =  1000.0

Question 5

In [ ]:
min = int(input("Enter the time in minutes : "))
h = int(min/60)
m = int(min%60)
print("Hour = ",h)
print("min = ", m)

Enter the time in minutes : 320
Hour =  5
min =  20

Question 6

In [ ]:
w = int(input("Enter the weight in kg = "))
h = float(input("Enter the height in m = "))
bmi = w/h**2
print('BMI = ',bmi)

Enter the weight in kg = 60
Enter the height in m = 1.65
BMI =  22.03856749311295

Question 7

In [ ]:
p = int(input("Enter the orginal amout = "))
disp = float(input("Enter the discount percentage = "))
dis = float (p*float(disp)/100)
new = p-dis
print('Discount price',dis)
print('new discounted price = ',new)

Enter the orginal amout = 1200
Enter the discount percentage = 10
Discount price 120.0
new discounted price =  1080.0

Question 8

In [ ]:
import math
a1 = int(input("Enter the 1st side value = "))
a2 = int(input("Enter the 2nd side value = "))
a3 = int(input("Enter the 3rd side value = "))
s = int((a1+a2+a3)/2)
area = math.sqrt((s*(s-a1)*(s-a2)*(s-a3)))
print("Area of triangle = ",area)

Enter the 1st side value = 5
Enter the 2nd side value = 6
Enter the 3rd side value = 7
Area of triangle =  14.696938456699069

Question 9

In [ ]:
l = int(input("Enter the length in m = "))
h = int(input("Enter the height in m "))
a = (l*h)
w = 2*(1.5 *1.2)
t =  a-w
print("Area = ",a)
print("Total cost = ",t)

Enter the length in m = 12
Enter the height in m 8
Area =  96
Total cost =  92.4

Question 9

In [ ]:
l=float(input("enter the length in meter : "))
h=float(input("enter the height in metet"))
t=l*h
w=2*(1.5*1.2)
p=t-w
print("total area painted :",p)
c=p*25
print("total cost",c)

enter the length in meter : 12
enter the height in metet8
total area painted : 92.4
total cost 2310.0

Question 10

In [ ]:
a=float(input("Enter number of units consumed"))
b=(a*5.2)+100
print(b)

Enter number of units consumed250
1400.0